
body {
    background:#E26227;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

body{
    background:#E26227;

    background-image: url("https://wallpaperset.com/w/full/d/d/4/253410.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1
{
    text-align: center;
    color: orange;
    font-family: 'Eater', cursive;
    letter-spacing: 0.3cm;
    font-size: 5ch;
    font-family: Arial, Helvetica, sans-serif;

}

p
{
    font-size: 2ch;
    text-align: center;
    font-family: 'Nosifer', cursive;
    letter-spacing: 1ch;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-bottom: 15px;
    background: #ffa500;
    border: none;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 3px white;
}


